.version {
  display: flex;
  justify-content: center;
  align-items: center;

}

.version-div {
  margin:0;
  padding:0;
}
.version-h5 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.version-param {
  margin:0;
  padding:0;
}

.records {
  display: flex;
  justify-content: center;
  align-items: center;

}
.recordsTable {
  border: 1px solid black;
  padding: 15px;
}