.version {
  display: flex;
  justify-content: center;
  align-items: center;

}

.version-div {
  margin:0;
  padding:0;
}
.version-h5 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.version-param {
  margin:0;
  padding:0;
}

.records {
  display: flex;
  justify-content: center;
  align-items: center;

}
.nameSubmission {
  display: flex;
  justify-content: center;
  align-items: center;
}
.td, th {
  vertical-align: middle;
  border-color: inherit;
  border: 1px solid black;

}
.tr:hover {
  vertical-align: middle;
  border-color: inherit;
  background-color: lightgray;
}

.App-logo {
  height: 40vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}